
.background{
    background-color: #e6fdff;
}



.heading1{
    text-align: center;
    color: #232c33;
    font-family:  'Poppins', sans-serif;
}

.heading2{
    text-align: center;
    color: #232c33;
    font-family: 'Poppins', sans-serif;
}


.intro{
    display: flex;
    background-color: #759EB8;
    color: white;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    width: 1200px;
    height: auto;
    text-align: justify;
    margin-bottom: auto ;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}


.label-container{
    display: flex;
    border-radius: 10px;
    background-color: #759EB8;
    justify-content: center;
    flex-direction: row;
}

.label-container > div{
    text-align: center;
    flex-wrap: wrap ;
    padding: 24px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.end-container{
    margin-bottom: -1em;
    border-radius: 10px;
    display: flex;
    background-color: #759EB8;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
}

.end-container > div{
    text-align: center;
    flex-wrap: wrap;
    padding: 24px;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.button-link{
    text-decoration: none;
    color: white;
}



.homepagephoto{
    position: relative;
    width: 300px;
    height: 400px;
    display: block;
    margin-bottom: auto;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:  #232c33;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    color:  #232c33;
    font-size: 1em;
    font-family: 'Poppins', sans-serif ;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color:  #232c32;
    font-family: 'Poppins', sans-serif ;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.video-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.video-container > div{
    flex-wrap: wrap;
    background-color:#759EB8;
    border-radius: 10px;
    margin-bottom: 2em;
}
.video{
    display: inline-block;
    width: 560px;
    height: 960px;
    position: relative;
}

.video > div{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.video-description{
    text-align: justify;
    margin: 7%;
    height: auto;
    font-size: 20px;
}
.video-title{
    font-weight: bold;
   font-size: 30px;
}

.video-player{
    max-width: 500px;
    margin: 0 auto;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #183549 ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #075488;
}

.form-container {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: #759EB8;
    color: white;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    width: 1200px;
    height: auto;
    margin:auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 1em;
}


@media only screen and (max-width: 1701px ){
    .label-container{
        flex-direction: column;
    }
    .video-container{
        flex-direction: column;
    }
    .video {
        margin: 0 auto;
        width:80%;
    }
    
    .intro{
        width: auto; 
    }

    .form-container{
        width:auto;
    }
    
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

