.heading1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.intro{
    position: relative;
    display: inline block;
    margin: auto;
    width: 1000px;
    padding: 20px;
    bottom: -40px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}


.label-container{
    display: flex;
    background-color: gray;
    justify-content: center;
    flex-direction: row;
}

.label-container > div{
    text-align: center;
    flex-wrap: wrap ;
    padding: 24px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.end-container{
    position: relative;
    bottom: -100px;
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
}

.end-container > div{
    text-align: center;
    flex-wrap: wrap;
    padding: 24px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.gallery-link{
    appearance: button;
    text-decoration: none;
    color: white;
}

.video-link{
    appearance: button;
    text-decoration: none;
    color: white;
}

.demo-link{
    appearance: button;
    text-decoration: none;
    color: white;
}

.home-link{
    appearance: button;
    text-decoration: none;
    color: white;
}

.contactpage-link{
    appearance: button;
    text-decoration: none;
    color: white;
}


.homepagephoto{
    position: relative;
    bottom: -20px;
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery{
    display: flex;
    background-color: gray;
    justify-content: center;
    flex-direction: row;
}

.gallery > div{
    flex-wrap: wrap;
    padding: 24px;
}


.video-container{
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
    flex-direction: row;
}

.video-container > div{
    flex-wrap: wrap;
}
.video{
    display: inline-block;
    width: 560px;
    height: 960px;
    position: relative;
}

.video > div{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-description{
    text-align: justify;
    margin: 7%;
    width: 480px;
    height: auto;
    font-size: 20px;
}
.video-title{
   text-decoration: underline;
   font-size: 40px;
}



@media only screen and (max-width: 1080px){
    .label-container{
        flex-direction: column;
    }
    .video-container{
        flex-direction: column;
    }
}

